:root {
  --primary-light: hsl(46, 100%, 97%);
  --primary-dark: #252422;
  --secondary: #403d39;
  --tertiary: #eb5e28;
  --neutral: #ccc5b9;
  --font-size: 1rem;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-size: var(--font-size);
}

h1 {
  font-family: "Lora", serif;
  font-size: 3rem;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.nav-container {
  background-color: var(--secondary);
  margin: 0;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 999;
  position: sticky;
  border-bottom: 1px solid var(--primary-light);
}

.nav-list-container {
  display: flex;
}

ul li {
  list-style: none;
  margin: 0em 1.5em;
  align-items: center;
  padding: 0;
}

ul a {
  margin: 0;
  text-decoration: none;
  padding: 0.25em 0.5em;
  color: var(--primary-light);
}

.nav-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0;
  padding: 0;
}
ul li a:hover {
  border-bottom: 1px solid var(--tertiary);
}

.nav-list-container a.active {
  border-bottom: 1px solid var(--tertiary);
}

.menu-toggle-label {
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  left: 90%;
  display: none;
  color: var(--primary-light);
}

.menu-toggle {
  display: none;
}

/* ALL SECTIONS  */
.hero-section,
.about-section,
.training-section,
.project-section,
.contact-section {
  width: 100%;
  min-height: 100vh;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-light);
}

.hero-content {
  margin-bottom: 1em;
}

.hero-content .title {
  margin: 0;
  font-size: 5rem;
  color: var(--primary-dark);
}

.hero-content .sub-title {
  margin: 0;
  font-size: 1rem;
  color: var(--neutral);
}

#btn-contact-me {
  width: 150px;
  background-color: var(--tertiary);
  padding: 1em 2em;
  border-radius: 50px;
  border: 1px solid var(--tertiary);
}

button a {
  color: var(--primary-light);
}

/* ABOUT SECTION */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  height: fit-content;
  padding: 0 0 1em 0;
}

.about-section h1 {
  margin: 5% 0;
}

.about-content-container {
  background-color: var(--secondary);
  max-width: 30%;
  width: 100%;
  text-align: justify;
}

.about-section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.about-section p {
  margin: 1em;
  font-size: var(--font-size);
}

/* TRAININGS */

.training-section {
  height: fit-content;
  background-color: var(--primary-light);
}

.training-section h1 {
  margin: 5% 0;
  text-align: center;
}

.training-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  max-width: 100%;
}

.training-item {
  margin: 1em;
  width: 30%;
  height: fit-content;
  background-color: var(--secondary);
  transition: box-shadow 0.3s ease;
}

.training-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.training-item .certificate-img {
  cursor: pointer;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.training-item-desc {
  padding: 0 1em 1em 1em;
}

.training-item-desc .title {
  color: var(--primary-light);
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  margin: 1em 0 1.5em 0;
}

.training-item-desc .duration,
.tech-stack {
  color: var(--primary-light);
  font-size: var(--font-size);
  font-family: "Poppins", sans-serif;
  text-align: start;
  margin: 0;
  padding: 0;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em 0 0 0;
}

.tech-stack img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0.5em;
}

.tech {
  position: relative;
  padding: 0;
  margin: 0;
}

.tech .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(204, 197, 185, 0.8);
  color: var(--primary-dark);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tech .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(204, 197, 185, 0.8) transparent transparent transparent;
}

.tech:hover .tooltip-text {
  visibility: visible;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 0 auto;
  display: block;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* PROJECTS  */

.project-section {
  text-align: center;
  background-color: var(--primary-dark);
  height: fit-content;
}

.project-video-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 1em auto;
  padding: 0;
  width: 90%;
}

.project-video-container video {
  width: 80%;
  height: 500px;
  padding: 0;
  margin: 0;
}

.project-video-container img {
  width: 50px;
  height: 50px;
  filter: invert(100%) brightness(100%);
  cursor: pointer;
}

.video-pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 2em 0;
  align-items: center;
  padding: 0;
}

.page {
  padding: 0;
  border: 1px solid var(--tertiary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.5em;
}

.project-section h1 {
  margin: 5% 0;
  color: white;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.project-item {
  background-color: var(--secondary);
  margin: 0 1em 1em 1em;
  padding: 1em;
  width: 25%;
  height: fit-content;
  transition: box-shadow 0.3s ease;
}

.project-item:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.project-img {
  padding: 1em;
  width: 100%;
  height: 200px;
  object-fit: scale-down;
  border-bottom: 1px solid var(--neutral);
}

.project-item p {
  color: var(--primary-light);
  line-height: 20px;
}

.project-item .title {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

.project-item .description {
  text-align: justify;
  margin: 0;
  padding: 0;
}

/* CONTACT SECTION */

.contact-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary-light);
  padding: 0 0 1em 0;
}

.contact-section h1 {
  margin: 5% 0;
  color: var(--primary-dark);
}

.contact-content-container {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.contacts-list {
  background-color: var(--secondary);
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-list p {
  font-size: 1rem;
  color: var(--primary-light);
  font-weight: 600;
  margin: 2em 0 1em 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts-item {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  align-content: center;
  /* padding: 0 0 0 2em; */
  margin: 0;
}

.contacts-item a {
  color: var(--primary-light);
}

.contacts-item .img-container {
  border: 1px solid var(--primary-light);
  border-radius: 50%;
  margin: 0.5em;
  padding: 0;
}

.contacts-item .img-container img {
  width: 40px;
  height: 40px;
  padding: 0.5em;
  margin: 0;
  filter: invert(100%) brightness(100%);
}

.contact-content-container form {
  border: 1px solid var(--primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  width: 100%;
  padding: 2em 0;
}

form .input-group {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em auto;
  border-radius: 4px;
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-size: var(--font-size);
  font-family: "Poppins", sans-serif;
}

input[type="submit"] {
  width: 150px;
  background-color: var(--primary-light);
  border-radius: 50px;
  border: 1px solid var(--primary-dark);
}

label {
  font-size: var(--font-size);
  color: var(--primary-dark);
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none;
  height: 200px;
}

/* FOOTER SECTION */

.footer-section {
  background-color: var(--secondary);
  text-align: center;
  height: fit-content;
}

.footer-section p {
  color: var(--primary-light);
}

.footer-logo {
  width: 100px;
  height: fit-content;
  object-fit: fill;
  margin: 1em 0 0 0;
  padding: 0;
}

.footer-subtitle {
  padding: 0;
  margin: 0 0 1em 0;
  font-size: 1.125rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem !important;
  }

  p {
    font-size: 0.8rem !important;
  }

  .menu-toggle-label {
    display: block;
  }

  .nav-list-container {
    display: none;
  }

  .menu-toggle:checked ~ .nav-list-container {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 70px;
    left: -1px;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
  }

  ul li {
    padding: 1em;
    margin: 2em 0 0 0;
  }

  ul li a:hover {
    background-color: rgba(0, 0, 0, 0.19);
  }

  /* HERO SECTION */

  .hero-section {
    height: 100vh;
    width: 100vw;
  }

  .hero-content .title {
    font-size: 3rem !important;
    color: var(--primary-dark);
  }

  .hero-content .sub-title {
    font-size: 0.7rem !important;
  }

  #btn-contact-me {
    width: 150px !important;
    font-size: 0.7rem !important;
    padding: 1em !important;
  }

  /* ABOUT SECTION */

  .about-section {
    height: fit-content !important;
    width: 100vw;
    padding: 1em 0;
    text-align: justify;
  }

  .about-section h1 {
    margin-bottom: 50px !important;
  }
  .about-content-container {
    max-width: 90% !important;
    height: auto;
  }

  .about-content-container img {
    aspect-ratio: 1;
    width: 100% !important;
    height: auto !important;
  }

  /* TRAINING SECTION */

  .training-section {
    height: fit-content;
    width: 100vw;
  }

  .training-section h1 {
    margin-bottom: 50px !important;
  }

  .training-content-container {
    flex-direction: column !important;
    align-items: center;
    align-content: center;
    width: 100% !important;
  }

  .training-item {
    width: 90% !important;
    margin: 0.5em !important;
  }

  .training-item-desc .title {
    font-size: 1rem !important;
  }

  .training-item-desc .duration,
  .tech-stack {
    font-size: 0.8rem !important;
  }

  .modal-content {
    width: 80vw;
  }

  /* PROJECTS SECTION */
  .project-section {
    width: 100vw;
    height: fit-content;
  }

  .project-section h1 {
    margin-bottom: 50px !important;
  }

  .project-content-container {
  }

  #next,
  #prev {
    display: none;
  }

  .project-video-container {
    height: fit-content !important;
  }

  .project-video {
    width: 90vw !important;
  }

  .page {
    width: 5px !important;
    height: 5px !important;
  }

  .projects-container {
    flex-direction: column !important;
    align-content: center;
    max-width: 100% !important;
  }

  .project-item {
    width: 90% !important;
  }

  .project-item .title {
    font-size: 1rem !important;
  }

  .description {
    line-height: 20px;
  }

  .project-item .description,
  .tech-stack {
    font-size: 0.8rem !important;
  }

  /* CONTACT SECTION */

  .contact-section {
    width: 100vw;
    height: fit-content !important;
    padding: 1em 0;
  }

  .contact-section h1 {
    margin-bottom: 50px !important;
  }

  .contact-content-container {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  .contacts-list {
    padding: 0 !important;
    margin: 0 !important;
    flex-direction: column !important;
    width: 90% !important;
  }

  .contacts-list p {
    font-size: 1.125rem !important;
    padding: 0 !important;
    margin: 1em 0 !important;
  }

  .contacts {
    padding: 0 !important;
    margin: 0 0 1em 0 !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center;
  }

  .contacts-item {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 30% !important;
    justify-content: center !important;
  }

  .img-container + a {
    display: none;
  }

  form {
    max-width: 100% !important;
    width: 90% !important;
    height: fit-content !important;
  }

  label,
  input,
  textarea {
    font-size: 0.8rem !important;
  }

  /* FOOTER SECTION */

  .footer-section {
    height: fit-content !important;
    width: 100vw;
  }

  .footer-logo {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  h1 {
    font-size: 2.5rem !important;
  }

  p {
    font-size: 0.8rem !important;
  }

  /* HERO SECTION */

  .hero-content .title {
    font-size: 3.5rem !important;
  }

  .hero-content .sub-title {
    font-size: 0.8rem !important;
  }

  #btn-contact-me {
    font-size: 0.8rem !important;
    padding: 0.8em 1.5em !important;
  }

  /* ABOUT SECTION */
  .about-section {
    width: 100vw;
    height: fit-content;
    padding: 1em 0;
    text-align: justify;
    line-height: 20px;
  }

  .about-content-container {
    max-width: 50% !important;
  }

  .about-content-container img {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
  }

  /* TRAINING SECTION */

  .training-content-container {
    flex-direction: row;
    align-content: center;
    max-width: 80%;
    margin: 0.5em auto;
  }

  .training-item {
    width: 100%;
  }

  .training-item-desc .title {
    font-size: 1rem !important;
  }

  .training-item-desc .duration,
  .tech-stack {
    font-size: 0.8rem !important;
  }

  /* PROJECT SECTION */
  .project-section {
    width: 100vw;
    height: fit-content;
  }

  .project-content-container {
  }

  #next,
  #prev {
    display: none;
  }

  .project-video-container {
    max-height: fit-content;
  }

  .project-video {
    width: 90vw !important;
    /* height: fit-content !important; */
    /* border: 1px solid var(--neutral) !important; */
  }

  .projects-container {
    flex-direction: column !important;
    align-content: center;
    max-width: 100% !important;
  }

  .project-item {
    width: 90% !important;
  }

  .project-item .title {
    font-size: 1rem !important;
  }

  .description {
    line-height: 20px;
  }

  .project-item .description,
  .tech-stack {
    font-size: 0.8rem !important;
  }

  .modal-content {
    width: 80vw;
  }

  /* CONTACT SECTION */

  .contact-section {
    width: 100vw;
    height: fit-content !important;
    padding: 1em 0;
  }

  .contact-content-container {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  .contacts-list {
    width: 80% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .contacts-list p {
    font-size: 1.2rem !important;
    padding: 0 !important;
    margin: 1em 0 !important;
  }
  .contacts {
    padding: 0 !important;
    margin: 0 0 1em 0 !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }

  .contacts-item {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 10% !important;
    justify-content: center !important;
  }

  .img-container + a {
    display: none;
  }

  form {
    max-width: 100% !important;
    width: 80% !important;
    height: fit-content !important;
  }

  /* FOOTER SECTION */

  .footer-section {
    height: fit-content !important;
    width: 100vw;
  }

  .footer-logo {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* ABOUT SECTION */
  .about-section {
    width: 100vw;
    height: fit-content;
    padding: 1em 0;
    text-align: justify;
    line-height: 20px;
  }

  .about-section h1 {
    margin-bottom: 50px !important;
  }
  .about-content-container {
    max-width: 50% !important;
    height: auto !important;
  }

  .about-content-container img {
    width: 100% !important;
    height: auto;
    aspect-ratio: 1;
  }

  /* TRAINING SECTION */
  .training-item {
    width: 40% !important;
  }

  .training-item .certificate-img {
    aspect-ratio: 1;
  }

  .modal-content {
    width: 80vw;
  }

  /* PROJECT SECTION */
  .project-section h1 {
    margin-bottom: 50px !important;
  }

  .project-video-container {
    max-width: 100% !important;
    width: 100% !important;
    max-height: fit-content;
    padding: 0 !important;
    margin: 0 !important;
    justify-content: space-evenly;
  }

  .project-video {
    width: 80% !important;
    padding: 0 !important;
  }

  .video-pagination {
    margin: 1em 0em 2em 0 !important;
  }

  .project-item {
    width: 30% !important;
  }

  /* CONTACT SECTION */

  .contact-section h1 {
    margin-bottom: 50px !important;
  }

  .contact-content-container {
    max-width: 90% !important;
    width: 100% !important;
    margin: 0 auto;
  }
  .contacts-list {
    width: 30% !important;
  }

  .contact-content-container form {
    max-width: 100% !important;
    width: 50% !important;
  }
}
